// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.social-btn {
   color: #ffffff;
   background-color: #0052CC;
   font: 13px georgia;
   padding: 5px 10px 5px 10px;
}

.social-btn:hover {
  background: #3cb0fd;
}